.game-title {
	font-family: 'Gill Sans';
	font-weight: 700;
	font-size: 40px;
	color: black;
}

.restart-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;

}

.restart-button img {
	width: 30px;
	height: 30px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 5px;
	width: 100%;
}

.grid-item {
	background-color: red;
	border-radius: 30%;
}

.card-front {
	cursor: pointer;
	background: red;
}

.card-back {
	background-size: cover;
	background-position: center;
}