.game-title {
	font-family: 'Gill Sans';
	font-weight: 700;
	font-size: 40px;
	color: black;
}

.restart-button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;

}

.restart-button img {
	width: 30px;
	height: 30px;
}

.grid-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	width: 100%;
	max-width: 800px;
}

.grid-item {
	background-color: red;
	border-radius: 30%;
	width: calc(20% - 10px);
	padding-bottom: calc(20% - 10px);
	margin-bottom: 10px;
}

@media (max-width: 800px) {
	.grid-item {
		width: calc(25% - 10px);
		padding-bottom: calc(25% - 10px);
	}
}

@media (max-width: 600px) {
	.grid-item {
		width: calc(33.33% - 10px);
		padding-bottom: calc(33.33% - 10px);
	}
}

@media (max-width: 400px) {
	.grid-item {
		width: calc(50% - 10px);
		padding-bottom: calc(50% - 10px);
	}
}

.card-front {
	cursor: pointer;
	background: red;
}

.card-back {
	background-size: cover;
	background-position: center;
}